:root {
    --primary-color: #46A358;
    --secondary-color: #3D3D3D;
    --bt-primary-color: #FFFFFF;
    --bg-color: #F5F5F580;
    --container-size: 1200px ;
    --basic-space: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 100%;
    max-width: calc(var(--container-size) + var(--basic-space) * 2);
    padding-left: var(--basic-space);
    padding-right: var(--basic-space);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header > * {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    margin-top: 2px;
}

.list {
    display: inline-block;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    margin: 0 25px;
}

.list a {
    display: block;
    padding: 22px 0;
}

.nav {
    margin: 0 22%;
}

.active {
    font-weight: 700;
    border-bottom: #46A358 3px solid;
}

.button {
    width: 100px;
    height: 35px;
    border-radius: 6px;
    color: var(--bt-primary-color);
    background-color: var(--primary-color);
    border: none;
}

.button span {
    display: inline-block;
}

.login {
    position: relative;
    top: -4px;
}

.content-left,
.image {
    display: inline-block;
    vertical-align: top;
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727272;
    margin-bottom: 44px;
}

.welcome {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

}

.title {
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 900;
    line-height: 70px;
    color: var(--secondary-color);
}

.content {
    background-color: var(--bg-color);
}

.content {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.content-left {
    max-width: 680px;
    padding-top: 68px;
    padding-left: 40px;
}

.planet {
    color: var(--primary-color);
}


