* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.register-block {
    margin: auto;
    width: 500px;
    padding-top: 51px;
}
.register-form {
    margin: auto;
    width: 300px;
}
.title {
    color: #46A358;
}
.main-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}
.subtitle,
.register {
    color: #3D3D3D;
    font-size: 13px;
    font-weight: 400;
}
.register {
    text-align: center;
    margin: 27px 0;
}
.field {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    padding: 0 14px;
    margin-bottom: 16px;
}
.button {
    background-color:#46A358;
    color: #FFFFFF;
    width: 300px;
    height: 45px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
}
.social-button {
    border: 1px solid  #EAEAEA;
    background-color: transparent;
    color: #727272;
    font-size: 13px;
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
}
.footer {
    width: 500px;
    height: 10px;
    background-color: #46A358;
}
